<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17834647045-eprcr9s0a088ool8i17u59kaqnisleir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17834647045-eprcr9s0a088ool8i17u59kaqnisleir</string>
	<key>API_KEY</key>
	<string>AIzaSyD7VMrCA7qf6YHjA-vecKOKIcvMEdW0EnY</string>
	<key>GCM_SENDER_ID</key>
	<string>17834647045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stoneage</string>
	<key>PROJECT_ID</key>
	<string>stoneagetechv1</string>
	<key>STORAGE_BUCKET</key>
	<string>stoneagetechv1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17834647045:ios:ae1d47089ea7ff05c4c66c</string>
</dict>
</plist>